# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# PyInstaller
build/
dist/
*.spec

# IDEs
.vscode/
.idea/

# Logs
*.log

# Archivos temporales
*.tmp
*.temp

# Sistema
.DS_Store
Thumbs.db

# Archivos generados por la aplicación
downloads/
mediafire_debug.html
